## Count or Frequency Encoding
High Cardinality

In [1]:
# Aim :- to replace each label of the categorical variable by the count. This is the amount of times each label appears in the dataset
# Replace the value with the count 
import pandas as pd
import numpy as np

df=pd.read_csv('train.csv',usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [2]:
df.shape

(4209, 2)

In [3]:
# After Ohe is done more columns is added (features or dimension are getting increased)
pd.get_dummies(df).shape

(4209, 71)

In [6]:
pd.get_dummies(df.X1).shape

(4209, 27)

In [7]:
pd.get_dummies(df.X2).shape

(4209, 44)

In [8]:
len(df['X1'].unique())

27

In [9]:
len(df['X2'].unique())

44

In [10]:
# Let's have a look at how many labels are there
# for displaying the code in a better way

for col in df.columns[0:]:
    print(col, ':' , len(df[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels

In [11]:
# How many times the categories are present in features
df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [12]:
# Now We have to replace X2 labels in the dataset df
df.X2=df.X2.map(df.X2.value_counts().to_dict())
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

# Advantage 

1. It is very simple to implement
2. Does not increase the feature dimensional space

# Disadvantage

1. If some of the labels have the same count , then they will be replaced with the same count and they will loose some valuable information
2. Adds somewhat arbitary number and therefore weights to different labels , that may not be related to their predictive power